body {
  font-family: "Lato", sans-serif;
  background-color: #141618;
}

/* LOGIN-REGISTER PAGE */
.login {
  height: 100vh;
  background-image: url("./assets/login-image.jpg");
  background-size: cover;
}

.login-container {
  background-color: #141618;
  border-radius: 10px;
}

.login-but {
  background-color: #ffd60a;
  border: none;
  color: black;
  font-weight: 600;
}

.login-but:hover {
  background-color: #ffd60a;
  border: none;
  color: black;
  opacity: 0.9;
}

@media screen and (max-width: 567px) {
  .brake {
    display: none;
  }
}

.login-title {
  font-size: 70px;
  color: #ffd60a;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 567px) {
  .login-title {
    font-size: 55px;
    color: #ffd60a;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@media screen and (min-width: 567px) and (min-width: 767px) {
  .login-title {
    font-size: 60px;
    color: #ffd60a;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.title-home {
  color: #ffd60a !important;
}

/* PROFILE PAGE */
.profile-img {
  width: 100px;
  height: 100px;
}

.profile-col {
  background-color: #4b558b;
  height: 230px;
  border-radius: 7px;
  color: black;
}

.title-ticket {
  color: #ffd60a;
}

.tickets-col {
  background-color: #0f4c75;
  border-radius: 7px;
}

.fa-camera {
  color: black;
  font-size: 20px;
}

/* TICKET SECTION */
.ticket {
  background-color: #c0e6ff;
  color: #255d83;
  line-height: 17px;
}

.ticket:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
}

/* NAVBAR */
.navbar {
  background-color: #070707 !important;
}

.bg-dropdown {
  background-color: #141618;
}

.bg-dropdown:hover {
  background-color: #141618;
}

.search-film {
  width: 280px;
}

.search-button {
  background-color: #ffd60a;
  color: black;
  border: none;
}

.search-button:hover {
  background-color: #ffd60a;
  color: black;
  border: none;
  opacity: 0.9;
}

/* SEAT PAGE */
.seat {
  background-color: black;
  width: 45px;
  height: 45px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.selected {
  background-color: rgb(241, 190, 48);
}

.booked {
  background-color: rgb(160, 0, 0);
}

@media screen and (max-width: 510px) {
  .seat {
    background-color: black;
    width: 28.4px;
    height: 28.4px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .selected {
    background-color: rgb(241, 190, 48);
  }

  .booked {
    background-color: rgb(160, 0, 0);
  }
}

.checkout-but {
  background-color: black;
  border-radius: 20px;
  border: none;
  opacity: 0.8;
}

.checkout-but:hover {
  background-color: black;
  border-radius: 20px;
  border: none;
  opacity: 1;
}

.checkout-but:disabled {
  background-color: black;
  border-radius: 20px;
  border: none;
  opacity: 0.8;
}

.checkout-but:disabled:hover {
  background-color: black;
  border-radius: 20px;
  border: none;
  opacity: 1;
}

.seat-cont {
  background-color: #222222;
  color: white;
}

/* PROMOTIONS PAGE */
@media screen and (max-width: 767px) {
  .promotions-container {
    display: none;
  }
}

.image-promotions:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
}

/* FOOTER  */
.foot-text {
  margin-bottom: 16px;
}

.footer-text-color {
  color: rgb(199, 199, 199) !important;
}

.footer-section {
  border: 1px solid black;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .foot-cont {
    display: none;
  }
}

.border-footer h6 {
  position: relative;
  display: inline-block;
}

.border-footer h6::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  height: 1px;
  width: 110%;
  background: rgb(212, 212, 212);
}

.b-footer {
  border-top: 1px solid rgb(199, 199, 199);
}

.footer-row {
  width: 98.7vw;
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  .footer-row {
    width: 99vw;
  }
}

/* DETAILS PAGE AND COMMENT */
.bg-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.5;
}

#dropdown-details {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 0px;
  width: 160px;
}

#dropdown-details.dropdown-toggle::after {
  margin-left: 10px;
}

#dropdown-details:hover {
  background-color: rgb(226, 226, 226);
}

.alert-booking {
  width: 270px;
}

@media screen and (max-width: 500px) {
  .cover-img {
    height: 380px !important;
  }
}

.add-comment-but {
  background-color: #ffd60a;
  padding: 5px 15px 5px 15px;
  color: black;
  border: none;
  font-weight: 500;
}

.add-comment-but:disabled {
  background-color: #ffd60a;
  color: black;
}

.add-comment-but:hover {
  background-color: #ffd60a;
  color: black;
  opacity: 0.9;
}

.book-ticket-but {
  background-color: #ffd60a;
  padding: 5px 15px 5px 15px;
  color: black;
  border: none;
  font-weight: 500;
}

.book-ticket-but:disabled {
  background-color: #ffd60a;
  color: black;
}

.book-ticket-but:hover {
  background-color: #ffd60a;
  color: black;
  opacity: 0.9;
}

.description {
  white-space: pre-wrap;
  word-wrap: break-word;
}

#dropdown-comment {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.comment-cont {
  background-color: #222222;
}

.text-area {
  width: 300px;
}

#dropdown-comment.dropdown-toggle::after {
  display: none;
}

.col-details {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 80%) 70%,
    transparent
  );
}

.title-book-ticket {
  color: #ffd60a !important;
}

.comment-row {
  background-color: #2b2b2b;
}

.comment-col {
  border-top: 1px solid rgb(160, 160, 160);
  border-bottom: 1px solid rgb(160, 160, 160);
}

@media screen and (max-width: 767px) {
  .col-details {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 80%) 100%,
      transparent
    );
  }
}

.fa-star {
  color: #ffd60a;
}

.fa-star-half-alt {
  color: #ffd60a;
}

.date-comment {
  font-size: 13px;
}

@media screen and (min-width: 1100px) {
  .comment-row {
    width: 545px;
  }
}

.show-all {
  color: white;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out 1;
}

/* HOME PAGE */
.film-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
}

.film-col:hover .film-buttons {
  opacity: 1;
}

.book-but,
.trailer-but {
  font-size: 13px;
}

.book-but {
  background-color: rgb(48, 132, 228);
  border: none;
}

.trailer-but {
  color: rgb(15, 127, 255);
  background-color: rgb(252, 252, 245);
  border: none;
}

.trailer-but:hover {
  background-color: rgb(226, 226, 221);
  color: rgb(15, 127, 255);
}

.book-but:hover {
  background-color: #ffd60a;
  color: black;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .trailer {
    padding-bottom: 56.22% !important;
  }
}

.carousel-indicators {
  margin-bottom: 0px;
}

.carousel-indicators button {
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
}

@media screen and (max-width: 767px) {
  .carousel1 {
    display: none !important;
  }
}

@media screen and (max-width: 450px) {
  .carousel-indicators button {
    border-radius: 50% !important;
    width: 8px !important;
    height: 8px !important;
    margin-top: 80px !important;
  }
}
