/* LOGIN-REGISTER PAGE */
.login-container {
  background-color: white;
  width: 400px;
  margin-right: 300px !important;
}

.login-background {
  background-image: url("./assets/LoginImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* PROFILE PAGE */
.profile-img {
  width: 100px;
  height: 100px;
}
.profile-col {
  background-color: rgb(95, 78, 156);
}

.tickets-col {
  background-color: rgb(248, 174, 146);
}

.fa-camera {
  color: black;
  font-size: 20px;
}

/* NAVBAR */
@media screen and (max-width: 767px) {
  .search-film {
    width: 250px;
  }
}
